
<html>
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Swift - Time and Motion </title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/metronic/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/metronic/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <script src="~/wwwroot/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/wwwroot/assets/plugins/jquery-ui/jquery-ui.min.js"></script>


    <script src="~/metronic/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <link rel="shortcut icon" href="~/metronic/src/media/se.ico" />
</head>
    <body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed header-mobile-fixed aside-enabled aside-static page-loading">
        <div class="login-signin">
            <div class="mb-20">
                <h3>Sign In To Admin</h3>
                <div class="text-muted font-weight-bold">Enter your details to login to your account:</div>
            </div>
            <form class="form" id="kt_login_signin_form">
                <div class="form-group mb-5">
                    <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Email" name="username" autocomplete="off" />
                </div>
                <div class="form-group mb-5">
                    <input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" name="password" />
                </div>
                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                    <div class="checkbox-inline">
                        <label class="checkbox m-0 text-muted">
                            <input type="checkbox" name="remember" />
                            <span></span>Remember me
                        </label>
                    </div>
                    <a href="javascript:;" id="kt_login_forgot" class="text-muted text-hover-primary">Forget Password ?</a>
                </div>
                <button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Sign In</button>
            </form>
            <div class="mt-10">
                <span class="opacity-70 mr-4">Don't have an account yet?</span>
                <a href="javascript:;" id="kt_login_signup" class="text-muted text-hover-primary font-weight-bold">Sign Up!</a>
            </div>
        </div>
        </body>

</html>
