@{
    Layout = "~/Views/Shared/_Layout_Natania.cshtml";
}

<html lang="en">
<body>
    <!--begin::Subheader-->
    <div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h2 class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">Payment History</h2>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold my-2 p-0">
                        <li class="breadcrumb-item text-muted">
                            <a href="" class="text-muted">Transactions</a>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            <a href="" class="text-muted">My Payments</a>
                        </li>
                        <li class="breadcrumb-item text-muted">
                            <a href="" class="text-muted">History</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Main-->
    <div class="container">
        <!--begin::Table-->

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Date Paid</th>
                    <th scope="col">Receipt</th>
                </tr>
            </thead>
            <tbody>
 
            </tbody>
        </table>
        <!--end::Table-->
    </div>
    <!--end::Main-->
</body>
</html>





