
@{
    ViewBag.Title = "contactPage";
}

<h2>contactPage</h2>
Name:
<input type="text" id="contactName" />
<br />
<br />
Subject:
<select id="selContactSubject">
    <option>A</option>
    <option>B</option>
    <obtion>C</obtion>
    <option>D</option>
    <option>E</option>
</select>
<input type="hidden" id="contactSubject" />
<br />
<br />
Message:
<textarea id="contactMessage"></textarea>
<br />
<br />
<button id="inquireBtn">Inquire</button>

<script src="~/metronic/dist/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/metronic/dist/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/metronic/dist/assets/js/scripts.bundle.js"></script>
<script src="~/Scripts/Home/contactPage.js"></script>



