<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset-="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Linking Google fonts for icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_forward" />
    <!-- Linking SwiperJS CSS -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
    <title>Modern Slider</title>
    <link href="~/assets/css/modern_slider.css" rel="stylesheet" />
</head>
<body>
    <div class="container swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img class="card-image" src="~/assets/images/Experiment/designer.jpg" alt="Alternate Text" />
                        <p class="badge designer">Designer</p>
                        <h2 class="card-title">
                            Lorem ipsum dolor sit explicabo adipisicing elit
                        </h2>
                        <button class="card-button material-symbols-rounded">
                            arrow_forward
                        </button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img class="card-image" src="~/assets/images/Experiment/developer.jpg" alt="Alternate Text" />
                        <p class="badge developer">Developer</p>
                        <h2 class="card-title">
                            Lorem ipsum dolor sit explicabo adipisicing elit
                        </h2>
                        <button class="card-button material-symbols-rounded">
                            arrow_forward
                        </button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img class="card-image" src="~/assets/images/Experiment/marketer.jpg" alt="Alternate Text" />
                        <p class="badge marketer">Marketer</p>
                        <h2 class="card-title">
                            Lorem ipsum dolor sit explicabo adipisicing elit
                        </h2>
                        <button class="card-button material-symbols-rounded">
                            arrow_forward
                        </button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img class="card-image" src="~/assets/images/Experiment/gamer.jpg" alt="Alternate Text" />
                        <p class="badge gamer">Gamer</p>
                        <h2 class="card-title">
                            Lorem ipsum dolor sit explicabo adipisicing elit
                        </h2>
                        <button class="card-button material-symbols-rounded">
                            arrow_forward
                        </button>
                    </a>
                </li>
                <li class="card-item swiper-slide">
                    <a href="#" class="card-link">
                        <img class="card-image" src="~/assets/images/Experiment/editor.jpg" alt="Alternate Text" />
                        <p class="badge editor">Editor</p>
                        <h2 class="card-title">
                            Lorem ipsum dolor sit explicabo adipisicing elit
                        </h2>
                        <button class="card-button material-symbols-rounded">
                            arrow_forward
                        </button>
                    </a>
                </li>
            </ul>

            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>
        </div>
    </div>

    <!-- Linking SwiperJS Script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Linking Custom Script -->
    <script src="~/assets/scripts/modern_slider.js"></script>
</body>
</html>